.dashboard-container {
  width: 100%;
  text-align: center;
}

.dashboard-input{
  display: block;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  border: 2px solid #262626;
}

.dashboard-select {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 320px;

  border-radius: 10px;
  border: 2px solid #262626;
}

.dashboard-button {
    padding: 10px;
    background-color: #102990;
    color: white;

    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;

    width: 100%;
    max-width: 340px;

    border-radius: 10px;

    transition: 350ms;
    margin: 10px 0;
}

.dashboard-button:hover {
  background-color: #BECAF6;
  color: #262626;
}

.dashboard-ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-ul li {
  padding: 10px 0;
  text-align: center;

  margin: 10px 0px;
  border-radius: 10px;

  display: flex;
  flex-direction: row;

  font-weight: bold;

  justify-content: space-around;
  align-items: center;
}

.lucro {
  background-color: #3ca84a;
  color: rgb(236, 255, 236);
}

.gasto {
  background-color: crimson;
  color: rgb(255, 242, 242);
}

.delete, .edit {
  margin: 10px;
  background-color: crimson;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;

  transition: all 0.3s ease;
}

.edit:hover {
  background-color: #f3f8a6;
  border: 1px solid transparent;
}

.delete:hover {
  background-color: #ff8888;
  border: 1px solid transparent;
}