.register-container {
    max-width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
  }
  
  input {
    width: 100%;
    max-width: 350px;
    border: 1px solid #ccc;

    border-radius: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #102990;
    color: white;
    border: none;
    cursor: pointer;
    width: 110%;

    max-width: 350px;

    border-radius: 10px;

    transition: 350ms;
    margin: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }

  a {
    text-decoration: none;
  }

  .login-link {
    margin: 10px;
    color: #007bff;
    text-decoration: underline;
    text-align: center;
    
    transition: 350ms;
  }
  
  .login-link:hover {
    color: #000;
  }

  /* Botão de voltar */
.back-button {
  display: inline-block;
  margin-bottom: 20px;
  color: #4caf50;
  text-decoration: none;
  font-size: 24px;
}